body{
    margin: 0;
    padding: 0;
}

.clear{
    clear: both;
}

.wrapper{
    border: 1px solid #000;
    height: auto;
    width: 90%;
    margin: 0 auto;
}

.header{
    border: 1px solid #ff80ff;
    height: 130px;
    width: 100%;
    background: #ff0080;
    background-size: 100%;
}

.header img{
    width: 100%;
    height: 130px;
    
}

.menu{
    border: 1px solid #1aff8c;
    height: 50px;
    width: 100%;
    background: #00e6ac ;
    line-height: 30px;
}

.list-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: center;
}

ul.list-menu li{
    margin: 7px;
    padding: 3px;
}

.list-menu li:hover{
    background-color: burlywood;
    cursor: pointer;
}

.list-menu li a{
    text-decoration: none;
    text-align: center;
    color: #3333ff;
}

.main{
    border: 1px solid #000;
    height: auto;
    width: 100%;
    display: flex;
}

.sidebar{
    border: 1px solid #000066;
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left:  5px;
}

.list-sidebar{
    margin: 0;
    padding: 0;
    list-style: none;   
    justify-content: center;
}

ul.list-sidebar li{
    margin: 7px;
    padding: 3px;
}

.list-sidebar li:hover{
    cursor: pointer;
    color: #fff;
    background-color: cadetblue;
}

.list-sidebar li a{
    text-decoration: none;
    color: #3333ff;
}

.maincontent{
    border: 1px solid #ff0000;
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left:  5px;
}

.product-list{
    padding: 0;
    margin: 5px;
    list-style: none;
    width: 100%;
}

.product-list li{
    width: 19%;
    border: 1px dashed #000;
    float: left;
    margin: 2px;
    background-color: aquamarine;
    display: block;
}

.product-list img{
    width: 100%;
}

.product-title{
    text-align: center;
    font-weight: 600;
}

.product-price{
    text-align: center;
    color: red;
}

.footer{
    border: 1px solid #000;
    height: 150px;
    width: 100%;
    background: #00cc99;
}

.footer-title{
    text-align: center;
    color: #000;
    font-weight: 550;
}